/* Styling for the background of the page */
.wrapper {
    /* background-image: url(img/texturedwall.jpg); */
    background-color: dimgray;
    /* background-size: 500px 700px; */
     /* min-height: calc(100vh - 67px - 60px);  */
}

.display-4, .lead {
 text-align: center;
}
.lead {
    font-size: 40px;
}
.jumbotron {
    color: white;
    background-image: url(img/efe-kurnaz-8hi9WGb4qMA-unsplash-edited2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
/*Dimensions for body*/
/* body{
    position: relative;
    padding-bottom: 60px;
    min-height: 100vh;
} */

/* styling for footer across all 3 pages */
.footer-span{
    text-align: center;
    color: white;
}

/* styling for 'Submit' button  */
.button-container {
    padding: 5px;
    margin: 5px;
}

.col-md-12{
    padding: 10px;
}

.social-icons li{
    display: inline-block;
}

.contact-links li {
    list-style: none;
}

.email, .phone, .resume {
    color: white;
    font-size: 18px;
}

.heading {
    color: white;
}
p {
    color: white;
    font-size: 20px;
}

.card-title{
    text-align: center;
}

.card {
    background-color: #adb5bd;
    border-radius: 0.5rem;
    padding: 5px;
}
.card-section {
    margin-bottom: 30px;
}
.card-body li {
    display: inline-block;
}

.contact-form{
    border-radius: 0.5rem;
}