/* Styling for the background of the page */
.wrapper {
    background-image: url(img/texturedwall.jpg);
    /* background-size: 500px 700px; */
    /* min-height: calc(100vh - 71px - 60px); */
    /* padding-bottom: 60px;
    padding-top: 20px; */
}
/*Dimensions for body*/
/* body{
    position: relative;
    padding-bottom: 60px;
    min-height: 100vh;
} */

/* styling for footer across all 3 pages */
/* .footer {
    display: flex;
    position: absolute;
    bottom: 0; 
    width: 100%;
    height: 60px;
    line-height: 40px;
    text-align: center;
    padding: 20px; 
    background-color: rgb(122, 106, 106);
} */

.footer-span{
    text-align: center;
    color: white;
}

/* styling for 'Submit' button  */
.button-container {
    padding: 5px;
    margin: 5px;
}

.col-md-12{
    padding: 10px;
}

.social-icons li{
    display: inline-block;
}

p {
    font-size: 20px;
}

.card-title{
    text-align: center;
}

.card {
    background-color: #adb5bd;
}
.card-section {
    margin-bottom: 30px;
}